<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About Us</h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div class="row">
        <div class="col-md-6">
            <%= image_tag "website/staff.jpg", class: "img_responsive" %>
        </div>
        <div class="col-md-6">
            <p>SmilePrep was started by two IIT/IIM alumni. Two of them Murali and Sudar originally discovered their passion and potential in the education sector in 2002 and built Seekers as the dominant player for CBSE and JEE preparation in central Tamilnadu with over 100 students clearing JEE MAINS last year.</p>
            <p>In 2015,  they saw the potential to use technology to deliver customized education to every student and partnered with serial entrepreneurs Appala and Aravind who had built successful technology startups in the U.S. The four launched SmilePrep and over the next twelve months they built the technology and algorithms that make SmilePrep the best adaptive learning platform in the global education market. They tested the technology in the U.S market and delivered impressive results when two of their students scored perfect scores in the ACT exam for U.S college admissions.</p>
            <p>In 2016 they raised money from Innovacion Investments, opened their technology center in the prestigious T-Hub campus in Hyderabad and are now rapidly expanding their platform across schools in Tamilnadu, Andhra Pradesh and Bihar</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <%= image_tag "website/muralidhar.jpg" %>
                <div class="caption">
                    <h3>R.V.S Muralidhar<br>
                        <small>President</small>
                    </h3>
                    <p>Murali is an IIT/IIM grad and was also co-founder of Seekers. He sets the vision for SmilePrep</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <%= image_tag "website/sudar.jpg" %>
                <div class="caption">
                    <h3>Sudar<br>
                        <small>COO</small>
                    </h3>
                    <p>Sudar is an IIT/IIM grad and was co-founder of Seekers. She manages the operations for SmilePrep</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <%= image_tag "website/appala.jpg" %>
                <div class="caption">
                    <h3>Appala R. Sagi<br>
                        <small>CEO</small>
                    </h3>
                    <p>Appala held multiple GM positions in India and the U.S and leads the strategy and vision for SmilePrep.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <%= image_tag "website/aravind.jpg" %>
                <div class="caption">
                    <h3>Aravind Datla<br>
                        <small>CTO</small>
                    </h3>
                    <p>Aravind brings to bear his deep technical knowledge and expertise in web 2.0, SaaS platforms and enterprise software.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <%= image_tag "website/amulya.jpg" %>
                <div class="caption">
                    <h3>Amulya Bhupathiraju<br>
                        <small>ACT Instructor</small>
                    </h3>
                    <p>Amulya scored a perfect ACT score using SmilePrep and subsequently joined us as a instructor. She is a freshman at U.C. Berkley</p>
                    <ul class="list-inline">                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
    <!-- /.row -->

 <!-- Investors -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Investors</h2>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <%= image_tag "website/george.jpg" %>
                <div class="caption">
                    <h3>George Coll<br>
                        <small>Board Member</small>
                    </h3>
                    <p>George is Managing Partner at Blue Whale Web. He serves on the boards of SalesPredict and Innovacion. Previously, he was SVP at Sears Holdings and COO for CompUSA</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="thumbnail">
                <%= image_tag "website/vivek.jpg" %>
                <div class="caption">
                    <h3>Vivek Sagi<br>
                        <small>Advisor</small>
                    </h3>
                    <p>Vivek is an IIT/Wharton grad and is currently Managing Partner for Innovacion Investments. Previously he served as the CTO for Woot.com, an Amazon company</p>
                    <ul class="list-inline">
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-linkedin-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-2x fa-twitter-square"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->    



</div>
<!-- /.container -->

<%= render 'layouts/footer' %>
